<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",user: current_user).html_safe %></script>
<% end %>


<head>
<link rel="shortcut icon" type="image/png" href="../app/assets/images/fb.png">
</head>
<div id="root">
    <h1>hello from root</h1>
</div>