.logout-wrapper {
    border: 1px solid blue;
    height: 50px;
    
}

.logout-button {
    border: 1px solid red;
    margin: 15px 10px 10px 10px;
    justify-content: flex-end;
    
}

body {
    
}